<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.net.soft.mapper.InfoLabelMapper">
        <resultMap id="BaseResultMap" type="com.net.soft.model.InfoLabelDO">
            <id column="id" property="id" jdbcType="INTEGER" />
            <result column="c_id" property="cid" jdbcType="INTEGER" />
            <result column="l_id" property="lid" jdbcType="INTEGER" />
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
            <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        </resultMap>
    <insert id="insertData" parameterType="com.net.soft.model.InfoLabelDO">
        insert into info_label (c_id, l_id)
        values
        (#{record.cid},#{record.lid})
    </insert>


    <update id="updateData" parameterType="com.net.soft.model.InfoLabelDO">
        update info_label
        <set>
            <if test="record.cid != null">
                c_id = #{record.cid},
            </if>
            <if test="record.lid != null">
                l_id = #{record.lid}
            </if>
        </set>
        where id = #{record.id} and is_valid = 1
    </update>


    <update id="deleteData" parameterType="java.lang.Integer">
        update info_label set is_valid = 0 where c_id = #{cid} and l_id = #{lid} and is_valid = 1
    </update>

    <select id="findAll" resultMap="BaseResultMap">
        select id,c_id,l_id,create_time,update_timefrom info_label where is_valid = 1
    </select>
</mapper>