<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.net.soft.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.net.soft.model.UserInfoDO">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <insert id="insertData" parameterType="com.net.soft.model.UserInfoDO">
        insert into user_info (phone,name, password,type)
        values
        (#{record.phone},#{record.name},#{record.password},#{record.type})
    </insert>

    <update id="updateData" parameterType="com.net.soft.model.UserInfoDO">
        update user_info
        <set>
            <if test="record.phone != null">
                phone = #{record.phone},
            </if>
            <if test="record.name != null">
                name = #{record.name},
            </if>
            <if test="record.password != null">
                password = #{record.password},
            </if>
            <if test="record.type != null">
                type = #{record.type},
            </if>
        </set>
        where id = #{record.id} and is_valid = 1
    </update>

    <update id="deleteData" parameterType="java.lang.Integer">
        update user_info set is_valid = 0 where id = #{id} and is_valid = 1
    </update>

    <select id="findAll" resultMap="BaseResultMap">
        select id,phone,name,password,type,create_time,update_time from user_info where is_valid = 1
    </select>

    <select id="findById" resultMap="BaseResultMap">
        select id,phone,name,type from user_info where id = #{id} and is_valid = 1
    </select>
    <select id="getUserInfoById" resultType="com.net.soft.model.UserInfoDO">
        select * from user_info where id = #{id} and is_valid = 1
    </select>
    <select id="getUserInfoByName" resultType="com.net.soft.model.UserInfoDO">
        select * from user_info where name = #{name} and is_valid = 1
    </select>
</mapper>
